PORT=4000
DATABASE_URL=postgres://football:football@localhost:5432/football

# https://www.api-football.com/ (RapidAPI üzerinden de alınabilir)
API_FOOTBALL_KEY=your_api_football_key_here
API_FOOTBALL_HOST=v3.football.api-sports.io

# Cron tahmin/sonuç senkron aralıkları
CRON_GENERATE_PREDICTIONS=0 6 * * *
CRON_SYNC_RESULTS=*/15 * * * *

# Yalnızca bu ligler çekilir (virgülle ayrılmış API-Football lig ID'leri)
# Örn: 39=Premier League, 140=La Liga, 135=Serie A, 78=Bundesliga, 61=Ligue 1, 203=Süper Lig
LEAGUE_IDS=39,140,135,78,61,203
SEASON=2024
